#ifndef SECRETS_H
#define SECRETS_H

// User: Enter your WiFi credentials here
// You can enter the same SSID for both if your router manages bands,
// or different SSIDs if you have split 2.4G/5G networks.
#define SSID_1 "WIFI1"
#define PASS_1 "PASSWORD"
// Optional second network
#define SSID_2 "WIFI2"
#define PASS_2 "PASSWORD"

// UDP Config
#define UDP_TARGET_IP "192.168.1.2"
#define UDP_TARGET_PORT 9090

#endif
